.auth-container {
  background-color: #505759;
  height: 100%;
}

.auth-card {
  width: min(500px, 100vw);
  padding: 40px 48px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.auth-card h1 {
  font-size: 2.074rem;
}

.auth-card-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
}

.auth-input-group {
  display: flex;
  gap: 12px;
}

.auth-input {
  margin-bottom: 12px;
}

.auth-link {
  font-weight: 600;
  color: var(--primary);
}

.auth-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.auth-submit-button {
  margin-top: 24px;
  width: 100%;
  padding: 14px 24px;
  border-radius: 8px;
  background-color: var(--primary);
  font-size: 1rem;
  color: white;
  font-weight: 600;
  border: none;
}

.auth-submit-button {
  cursor: pointer;
}