#profile-page > .banner {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 0px 100px;
  color: white;
  background: linear-gradient(to right, var(--primary), var(--gray));
}

#profile-page > #user-profile {
  max-width: 500px;
  padding: 48px 100px 24px 100px;
}

#profile-page button {
  align-self: flex-start;
  margin-top: 12px;
}

#user-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
}

#user-name-group {
  display: flex;
  width: 100%;
  gap: 16px;
}

#user-name-group > div {
  width: 100%;
}

#change-password > h5{
  margin-bottom: 0.75rem;
}

#change-password > #password {
  display: flex;
  flex-direction: column;
  gap: 12px;
}