#profile-page > .banner {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 0px 100px;
  color: white;
  background: linear-gradient(to right, var(--primary), var(--gray));
}

#profile-page > #user-profile {
  padding: 24px 100px;
}

#user-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}