/* Material UI Text Field */
.m-textfield-group {
  position: relative;
  width: 100%;
}

.m-textfield {
  font-family: inherit;
  outline: 0;
  width: 100%;
  padding: 12px;
  border: solid 2px #9b9b9b;
  border-radius: 4px;
  font-size: 16px;
  color: #212121;
  background: transparent;
  transition: border-color 0.2s;
  box-sizing: border-box;
}

.m-textfield::placeholder {
  color: transparent;
}

.m-textfield:placeholder-shown ~ .m-textfield-label {
  font-size: 16px;
  cursor: text;
  user-select: none;
  -webkit-user-select: none;
  top: 14px;
}

label,
.m-textfield:focus ~ .m-textfield-label {
  position: absolute;
  top: -8px;
  left: 10px;
  display: block;
  padding: 0px 2px;
  transition: 0.2s;
  font-size: 12px;
  color: #9b9b9b;
  background: white;
}

.m-textfield:focus ~ .m-textfield-label {
  color: var(--primary);
}

.m-textfield:focus {
  /* padding-bottom: 6px; */
  border: 2px solid var(--primary);
}