.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hstack {
  display: flex;
  gap: 0.5rem;
}

.vstack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}