.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hstack {
  display: flex;
}

.vstack {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}