body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
}

.input-container {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}

/* Style the navbar container */
#navbar {
  overflow: hidden;
  background-color: #fcf8c7;
  /* Change the background color as needed */
  display: flex;
  /* Use flexbox for center alignment and spacing */
  justify-content: center;
  /* Center the items horizontally */
}

/* Navbar links */
#navbar a {
  float: left;
  /* Align links to the left side */
  display: block;
  /* Change the display to block, enabling padding and height adjustments */
  color: rgb(230, 44, 44);
  /* Change text color */
  text-align: center;
  /* Center-align text */
  padding: 0px 0px;
  /* Add some padding for spacing */
  text-decoration: none;
  /* Remove underlines from links */
}

/* Unordered list (ul) styling */
#navbar ul {
  list-style-type: none;
  /* Remove bullets from the list */
  margin: 0;
  /* Remove margins */
  padding: 0;
  /* Remove padding */
  overflow: hidden;
  /* Clear floats */
}

/* List item (li) styling */
#navbar ul li {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  /* Align list items side by side */
}

/* Optional: Add a color change on hover */
#navbar ul li:hover {
  background-color: #ddd;
  /* Light grey background on hover */
  color: black;
  /* Change text color on hover */
}